<div class="container-fluid mt-3" ng-controller="userController">
	<div class="row">
		<div class="col-lg-8">
			<div class="card">
				<div class="card-header bg-primary">
					<h5 class="card-title text-white">User Management</h5>
				</div>
				<div class="card-body">
					<div class="row mb-3">
						<div class="col-lg-6">
							<input
								type="text"
								ng-model="searchName"
								class="w-50 form-control"
								placeholder="Type search name..."
								ng-change="handleSearchName()"
								ng-model-options="{ debounce: 500 }"
							/>
						</div>

						<div class="col-lg-3 offset-lg-3">
							<select class="form-select" ng-model="orderBy" ng-change="handleChangeSort()">
								<option value="name-asc">Name ASC</option>
								<option value="name-desc">Name DESC</option>
								<option value="age-asc">Age ASC</option>
								<option value="age-desc">Age DESC</option>
							</select>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>ID</th>
									<th>Avatar</th>
									<th>Name</th>
									<th>Gender</th>
									<th>Age</th>
									<th>Phone</th>
									<th>Email</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr
									class=""
									ng-repeat="user in users" 
								>
									<td class="align-middle">{{user.id}}</td>
									<td class="align-middle">
										<img style="height: 40px; width: 40px;" ng-src="{{user.avatar}}" alt="">
									</td>
									<td class="align-middle">{{user.name}}</td>
									<td class="align-middle">{{user.gender}}</td>
									<td class="align-middle">{{user.age}}</td>
									<td class="align-middle">{{user.phone}}</td>
									<td class="align-middle">{{user.email}}</td>
									<td class="align-middle">
										<button type="button" class="btn btn-primary" ng-click="handleEditUser(user)">
											Edit
										</button>
										<button type="button" class="btn btn-danger" ng-click="deleteUser(user.id)">
											Delete
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="d-flex justify-content-end" style="margin-right: 20px">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" ng-click="handlePageChange(pagination.current_page - 1)">Previous</a>
							</li>
							<li class="page-item" ng-class="{active: isActivePage(1)}">
								<a class="page-link" ng-click="handlePageChange(1)">1</a>
							</li>
							<li class="page-item" ng-show="pagination.total_page > 2">
								<a class="page-link">...</a>
							</li>
							<li
								class="page-item"
								ng-class="{active: isActivePage(pagination.current_page)}"
								ng-show="pagination.current_page != 1 && pagination.current_page != pagination.total_page"
							>
								<a class="page-link">{{pagination.current_page}}</a>
							</li>
							<li class="page-item" ng-show="pagination.total_page > 2">
								<a class="page-link">...</a>
							</li>
							<li class="page-item" ng-class="{active: isActivePage(pagination.total_page)}" ng-show="pagination.total_page > 1">
								<a class="page-link" ng-click="handlePageChange(pagination.total_page)">{{pagination.total_page}}</a>
							</li>
							<li class="page-item">
								<a class="page-link" ng-click="handlePageChange(pagination.current_page + 1)">Next</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card">
				<div class="card-header bg-primary">
					<h5 class="card-title text-white" ng-show="isAdd">Add User</h5>
					<h5 class="card-title text-white" ng-hide="isAdd">Edit User</h5>
				</div>
				<form name="userForm" ng-submit="handleSubmit(userForm)" novalidate enctype="multipart/form-data">
					<div class="card-body">
						<div class="mb-3 d-flex flex-column align-items-center">
							<img class="mb-3" style="height: 150px; width: 150px;" ng-src="{{formData.avatar}}" alt="">
							<input
								type="file"
								class="form-control w-50"
								ng-file-select="handleChangeAvatar($files)"
								ng-model="formData.avatar"
							/>
						</div>
						<div class="mb-3">
							<label for="firstName" class="form-label">Name</label>
							<input
								type="text"
								ng-model="formData.name"
								class="form-control"
								id="firstName"
								ng-model-options="{ debounce: 250 }"
								required=""
							/>
						</div>
						<div class="mb-3">
							<label for="male" class="form-check-label">Male</label>
							<input
								type="radio"
								name="gender"
								ng-model="formData.gender"
								class="form-check-input me-4"
								id="male"
								value="male"
							/>
							<label for="female" class="form-check-label">Female</label>
							<input
								type="radio"
								name="gender"
								ng-model="formData.gender"
								class="form-check-input"
								id="female"
								value="female"
							/>
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">Email</label>
							<input
								type="email"
								ng-model="formData.email"
								class="form-control"
								id="email"
								ng-model-options="{ debounce: 250 }"
							/>
						</div>
						<div class="mb-3">
							<label for="phone" class="form-label">Phone</label>
							<input
								type="number"
								ng-model="formData.phone"
								class="form-control"
								id="phone"
								ng-model-options="{ debounce: 250 }"
							/>
						</div>
						<div class="mb-3">
							<label for="age" class="form-label">Age</label>
							<input
								type="number"
								ng-model="formData.age"
								class="form-control"
								id="age"
								ng-model-options="{ debounce: 250 }"
							/>
						</div>
					</div>

					<div class="card-footer">
						<button type="submit" ng-show="isAdd" class="btn btn-primary" ng-disabled="!userForm.$dirty">
							Add
						</button>
						<button type="submit" ng-hide="isAdd" class="btn btn-primary" ng-disabled="!userForm.$dirty">
							Save
						</button>
						<button type="button" class="btn btn-primary" ng-click="resetForm()">Reset</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
